/*styles for my First WordPress website
Name: First Theme
Author: LaMonte Golden
Date: July 2024
*/

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body{
    background:beige;
}

header{
    background: yellow;
}

#top{
    height:60px;
    background: orange;

}

#inner-header{
    max-width: 1200px;
    margin: 0 auto;
    background: tan;
}

/* this our background image!!! */

#hero{
    height: 400px;
    background: red;
}

#wrapper{
    max-width: 1200px;
    margin: 20px auto;
}

main{
    width: 62%;
    float: left;
}

aside{
    float: right;
    width: 35%;
    height: 400px;
    background: #ddd;
}


footer{
    background-color: #ccc;
    height: 300px;
    clear: both;
}

.nav-button{
    display: none;
}

/* typography */

p{
    margin-bottom: 20px;
}

.title{
    font-size: 2em;
}

.meta span{
    display: block;
    font-style: italic;
}




/* comment form css */

#commentform {
    border:1px solid tan;
    padding:10px;
    margin: 10px 0 20px 0;

}

comment-notes {
    font-size: 9em;
    font-style: italic;
    color: #666;
    margin-bottom: 6px;
}

label{
    display: block;
}
.comment-form-cookies-consent label{
    display: inline;
}

comment-form p{
    margin-bottom:10px;
}

.commentlist {
    margin: 10px 0 15px 30px;
}

/*  the beginning of our media queries */






 /* End Mobile Styles */